In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.plotly as py
import scipy as sp
from scipy import stats
from scipy.stats import skew, kurtosis
%matplotlib inline

In [36]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
validation_data = pd.read_csv("validation.csv")

In [3]:
len(train_data)

2430981

In [4]:
from sklearn.utils import resample
majority = train_data[train_data.click == 0]
minority = train_data[train_data.click == 1]
majorityResampled = resample(majority, replace=False, n_samples=400000, random_state=12)
majorityResampled.head()

,click,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,...,slotheight,slotvisibility,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag
875812,0,0,0,d61bcef6737f59fc486458d3d0f34c5880140807,290a9eb303ff8c88e507819a4ddc3960a6c1125f,windows_ie,175.43.11.*,124,129,3,...,90,0,0,20,b90c12ed2bd7950c6027bf9c6937c48a,300,20,43f4a37f42a7c5e6219e2601b26c6976,3386,null
541894,0,1,11,da290736391b367107bbdcfad7f2bfafc84db8f7,d586c457e2d3132ae0bf8a997eb7ef92bf2d7481,windows_chrome,119.162.157.*,146,147,2,...,280,2,0,5,77819d3e0b3467fe5c7b16d68ad923a1,300,30,bebefa5efe83beee17a3d245e7c5085b,1458,"13776,10063,10111"
828389,0,0,21,925e582fd888c0cdb3e41780ea2f5ed84bd007f4,45812a54ed597665159ffcf4bcf3a1d807c99ba7,windows_other,120.84.146.*,216,233,1,...,280,2,1,0,f65c8bdb41e9015970bac52baa813239,238,30,9be83422522025c09a44593ecd1af8ca,3476,"10006,10063,10110"
417956,0,1,14,542fb2237f1694a7e08ae989507e351cbb707962,aef82212b0c69e4a028cc50c13673ad7bcc68029,windows_ie,110.114.85.*,183,183,1,...,280,Na,Na,0,10720,294,113,null,2821,"10057,10059,10006,10110,10063"
1523332,0,6,1,913748b8cdbd138895be0b8d39e6a82f501e4b65,2d15851caf4e3f51641b26caa12ce9bc35dd26db,windows_ie,120.128.7.*,146,148,3,...,250,0,0,50,44966cc8da1ed40c95d59e863c8c75f0,300,76,43f4a37f42a7c5e6219e2601b26c6976,3386,"10063,10006,10075,10059,13776,10111"

In [5]:
train_data = pd.concat([minority, majorityResampled])
len(train_data)

401793

In [6]:
fullData = pd.concat([train_data, validation_data]).reset_index(drop=True)
fullData.head()

,click,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,...,slotheight,slotvisibility,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag
0,1,1,19,f9178e5b1b562648a5f63d36e423b0f26cec812d,ca22bf856b6c720994a95302f5ce71e0d6d5d416,windows_ie,114.93.5.*,79,79,3,...,90,0,0,80,86c2543527c86a893d4d4f68810a0416,300,80,43f4a37f42a7c5e6219e2601b26c6976,3386,"10006,10063"
1,1,2,22,42c7568c0c07baa53e2ed2548d80fde568b1a4c1,9ed92c2038dfbaaf3ec37a48155e8712777cb21d,windows_ie,116.5.161.*,216,228,1,...,280,0,1,0,77819d3e0b3467fe5c7b16d68ad923a1,300,65,bebefa5efe83beee17a3d245e7c5085b,1458,"11278,10111"
2,1,5,0,a305108883429eb515cc1246bb91a1e64a537476,efbec188a3a7684e898747dd6cbe1194c7d89319,android_safari,117.136.24.*,201,202,1,...,250,1,5,0,44966cc8da1ed40c95d59e863c8c75f0,300,101,361e128affece850342293213691a043,3386,13866
3,1,2,19,c22254a0bad8028de4a6cdf51f502f6cf109c610,875ee65d08205ed37fd33b12de85cc86f1ae2aae,android_safari,119.22.194.*,3,4,null,...,50,FirstView,Na,160,11908,277,160,null,2997,null
4,1,2,17,e42e60785c6f03678e8bdc7f5b5e3c054b902ae5,4cadd1388b905c04c641106ee3568358b655d92b,windows_chrome,14.134.245.*,368,373,1,...,250,1,1,0,44966cc8da1ed40c95d59e863c8c75f0,300,108,361e128affece850342293213691a043,3386,"10063,10110"

In [7]:
trainLength = len(train_data)

In [8]:
newData = pd.DataFrame(fullData.useragent.str.split('_').tolist(), columns=['os', 'browser'])
fullData = pd.concat([fullData, newData], axis=1)
fullData.head()

,click,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,...,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag,os,browser
0,1,1,19,f9178e5b1b562648a5f63d36e423b0f26cec812d,ca22bf856b6c720994a95302f5ce71e0d6d5d416,windows_ie,114.93.5.*,79,79,3,...,0,80,86c2543527c86a893d4d4f68810a0416,300,80,43f4a37f42a7c5e6219e2601b26c6976,3386,"10006,10063",windows,ie
1,1,2,22,42c7568c0c07baa53e2ed2548d80fde568b1a4c1,9ed92c2038dfbaaf3ec37a48155e8712777cb21d,windows_ie,116.5.161.*,216,228,1,...,1,0,77819d3e0b3467fe5c7b16d68ad923a1,300,65,bebefa5efe83beee17a3d245e7c5085b,1458,"11278,10111",windows,ie
2,1,5,0,a305108883429eb515cc1246bb91a1e64a537476,efbec188a3a7684e898747dd6cbe1194c7d89319,android_safari,117.136.24.*,201,202,1,...,5,0,44966cc8da1ed40c95d59e863c8c75f0,300,101,361e128affece850342293213691a043,3386,13866,android,safari
3,1,2,19,c22254a0bad8028de4a6cdf51f502f6cf109c610,875ee65d08205ed37fd33b12de85cc86f1ae2aae,android_safari,119.22.194.*,3,4,null,...,Na,160,11908,277,160,null,2997,null,android,safari
4,1,2,17,e42e60785c6f03678e8bdc7f5b5e3c054b902ae5,4cadd1388b905c04c641106ee3568358b655d92b,windows_chrome,14.134.245.*,368,373,1,...,1,0,44966cc8da1ed40c95d59e863c8c75f0,300,108,361e128affece850342293213691a043,3386,"10063,10110",windows,chrome

In [9]:
columnsToDrop = ['bidid', 'userid', 'IP', 'url', 'urlid', 'slotid', 'keypage', 'bidprice',
                 'payprice', 'domain', 'useragent']
fullData = fullData.drop(columnsToDrop, axis=1)

# Create dummy variables for these columns
columnsForDummies = ['weekday', 'hour', 'city', 'region', 'slotwidth', 'slotheight', 'advertiser', 'creative',
                     'slotprice', 'adexchange', 'slotformat', 'slotvisibility', 'os', 'browser']

In [10]:
for i in columnsForDummies:
    print("completing: " + i)
    dummies = pd.get_dummies(fullData[i], prefix=i)
    joined = pd.concat([fullData, dummies], axis=1)
    fullData = joined.drop(i, axis=1)

completing: weekday
completing: hour
completing: city
completing: region
completing: slotwidth
completing: slotheight
completing: advertiser
completing: creative
completing: slotprice
completing: adexchange
completing: slotformat
completing: slotvisibility
completing: os
completing: browser

In [11]:
fullData.head()

,click,usertag,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,hour_0,...,os_windows,browser_chrome,browser_firefox,browser_ie,browser_maxthon,browser_opera,browser_other,browser_safari,browser_sogou,browser_theworld
0,1,"10006,10063",0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
1,1,"11278,10111",0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
2,1,13866,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
3,1,null,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,"10063,10110",0,0,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [12]:
fullData['usertag'].fillna(value="null", inplace=True)
usertags = fullData.usertag.str.split(',').tolist()
usertagDf = pd.DataFrame(usertags)
usetags = 0
usertagDummies = pd.get_dummies(usertagDf, prefix='usertag')
usertagDf = 0
usertagDummies = usertagDummies.groupby(usertagDummies.columns, axis=1).sum()
fullData = pd.concat([fullData, usertagDummies], axis=1)
fullData = fullData.drop('usertag', axis=1)

In [13]:
fullData.head()

,click,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,hour_0,hour_1,...,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753,usertag_null
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
usertagDummies = 0
# Split the train and validation data
train = fullData[0:trainLength]
validation = fullData[trainLength:]

In [15]:
train.head()

,click,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,hour_0,hour_1,...,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753,usertag_null
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
validation.head()

,click,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,hour_0,hour_1,...,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753,usertag_null
401793,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
401794,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
401795,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
401796,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
401797,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X_train = train.drop('click', axis=1)
y_train = train['click']
X_validation = validation.drop('click', axis=1)
y_validation = validation['click']

In [18]:
from xgboost.sklearn import XGBClassifier  
from xgboost.sklearn import XGBRegressor

In [48]:
xclas = XGBClassifier(booster='gbtree',learning_rate = 0.1,
 n_estimators=50,
 max_depth=9,
 min_child_weight=9,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.85,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1, seed=27,n_jobs=4)
xclas.fit(X_train, y_train, eval_metric='rmse', verbose = True, eval_set = [(X_validation, y_validation)],early_stopping_rounds=100)

[0]	validation_0-rmse:0.450585
Will train until validation_0-rmse hasn't improved in 100 rounds.
[1]	validation_0-rmse:0.406529
[2]	validation_0-rmse:0.367021
[3]	validation_0-rmse:0.331585
[4]	validation_0-rmse:0.299763
[5]	validation_0-rmse:0.27117
[6]	validation_0-rmse:0.245421
[7]	validation_0-rmse:0.222232
[8]	validation_0-rmse:0.201373
[9]	validation_0-rmse:0.182587
[10]	validation_0-rmse:0.165646
[11]	validation_0-rmse:0.150393
[12]	validation_0-rmse:0.136656
[13]	validation_0-rmse:0.124298
[14]	validation_0-rmse:0.113176
[15]	validation_0-rmse:0.10318
[16]	validation_0-rmse:0.094191
[17]	validation_0-rmse:0.086127
[18]	validation_0-rmse:0.078898
[19]	validation_0-rmse:0.072447
[20]	validation_0-rmse:0.06668
[21]	validation_0-rmse:0.061534
[22]	validation_0-rmse:0.056961
[23]	validation_0-rmse:0.052907
[24]	validation_0-rmse:0.049313
[25]	validation_0-rmse:0.046154
[26]	validation_0-rmse:0.043389
[27]	validation_0-rmse:0.040946
[28]	validation_0-rmse:0.038804
[29]	validation_0-rmse:0.036962
[30]	validation_0-rmse:0.035351
[31]	validation_0-rmse:0.033987
[32]	validation_0-rmse:0.032784
[33]	validation_0-rmse:0.031674
[34]	validation_0-rmse:0.030865
[35]	validation_0-rmse:0.030136
[36]	validation_0-rmse:0.02954
[37]	validation_0-rmse:0.028966
[38]	validation_0-rmse:0.028534
[39]	validation_0-rmse:0.028178
[40]	validation_0-rmse:0.027863
[41]	validation_0-rmse:0.027602
[42]	validation_0-rmse:0.027316
[43]	validation_0-rmse:0.02701
[44]	validation_0-rmse:0.02686
[45]	validation_0-rmse:0.026687
[46]	validation_0-rmse:0.026578
[47]	validation_0-rmse:0.026461
[48]	validation_0-rmse:0.026346
[49]	validation_0-rmse:0.026285

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.85, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=9, min_child_weight=9, missing=None, n_estimators=50,
       n_jobs=4, nthread=4, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27, silent=True,
       subsample=0.8)

In [49]:
pCTR_validation = xclas.predict_proba(X_validation)[:,1]
pCTR_validation

array([ 0.00404421,  0.00387328,  0.00404009, ...,  0.01018491,
        0.00528492,  0.00517362], dtype=float32)

In [33]:
bid_price_validation = 80 * pCTR_validation / np.mean(validation['click'].values)
bid_price_validation

array([ 169.04170227,  113.06318665,   43.72103119, ...,  481.75979614,
        241.10934448,  145.64666748], dtype=float32)

In [37]:
validation_data['bidprice_pre'] = bid_price_validation
validation_data.head()

,click,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,...,slotvisibility,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag,bidprice_pre
0,0,4,20,bbcb813b6166538503d8b33a5602d7d72f6019dc,663169f66491c98c69f1f94a5c48fa34aa9fe06f,windows_ie,211.144.203.*,79,79,1,...,2,1,0,cb7c76e7784031272e37af8e7e9b062c,300,23,bebefa5efe83beee17a3d245e7c5085b,1458,"13866,10111",169.041702
1,0,1,21,5a07316c49477cb5d9b4d5aa39c27d6c3be7f92d,a23f0cfab6592c137f796e68fa752fceba08bb1b,windows_chrome,58.247.250.*,79,79,1,...,0,1,0,c938195f9e404b4f38c7e71bf50263e5,238,75,a3becb967c015e9acb5e72f22b100ef8,3476,"10075,10057,10024,10052,10083,10063,10006,10110",113.063187
2,0,4,8,f6ece71dae81d6b16bfb24ad6dd5611472d4c673,5105a013ea54a9706146033e6a138d5234a3803e,windows_ie,117.12.111.*,2,2,2,...,2,0,5,911b2d84826786018761e8c0b0a3a60c,238,65,d29e59bf0f7f8243858b8183f14d4412,3358,"13866,10024,10059,10063,13776,10083,10006,10111",43.721031
3,0,5,15,b4d5c57c9b38ff5a12954fa01e11931b4e6bfbbb,577e9a768ce17e73c61ba7022db927f9ee761830,windows_chrome,61.187.224.*,201,205,2,...,2,0,5,dc0998c10f8f0b623b5d949e8272e4c7,238,6,d29e59bf0f7f8243858b8183f14d4412,3358,"13866,10057,10006,10063,10110",67.185135
4,0,1,18,0899bf144249458ea9c89188473694bf44c7ca15,e4bf79c562745d671b19f2edf7fda89c2e25987f,windows_chrome,117.41.145.*,134,135,2,...,1,0,5,23485fcd23122d755d38f8c89d46ca56,249,5,7e0e909ea89f707bc20f9585c9072081,3476,"10006,10063,13776,10110",111.284515

In [38]:
max(bid_price_validation)

120316.78

In [39]:
base_price = 78

In [42]:
bid_price_validation = base_price * pCTR_validation / np.mean(train_data['click'].values)

In [43]:
bid_price_validation

array([ 148.51991272,   99.3372345 ,   38.41326523, ...,  423.27380371,
        211.83848572,  127.96504974], dtype=float32)

In [47]:
np.mean(bid_price_validation)

392.72379

In [44]:
def test_model(data):
    data = data[data['bidprice_pre'] > data['payprice']]
    click = data['click'].values
    payprice = data['payprice'].values
    cnt_click = 0
    cost = 0
    imps = 0
    for i in range(len(data)):
        cnt_click += click[i]
        cost += payprice[i]/1000
        imps += 1
        if cost > 6250:
            break
    ctr = cnt_click / imps
    cpc = cost / cnt_click
    result = {'ctr:':ctr,'cpc:':cpc,'click:':cnt_click,'imps:':imps}
    return result

In [45]:
validation_data['bidprice_pre'] = bid_price_validation

In [46]:
print(test_model(validation_data))

{'ctr:': 0.00071031762859929601, 'cpc:': 93.28483582091522, 'click:': 67, 'imps:': 94324}

In [21]:
len(pCTR_validation)

303925

In [22]:
newData = pd.DataFrame(test_data.useragent.str.split('_').tolist(), columns=['os', 'browser'])
test_data = pd.concat([test_data, newData], axis=1)
test_data.head()

,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,domain,...,slotheight,slotvisibility,slotformat,slotprice,creative,keypage,advertiser,usertag,os,browser
0,0,12,366c563de7d90feb9d4dab53e795a93fb3157387,75045dd2f2136c93fe55fe6c446ec1527ed8f0bb,windows_chrome,27.197.36.*,146,159,3,DDTSQuf0MTTNaqKIvMpENpn,...,250,0,0,10,00fccc64a1ee2809348509b7ac2a97a5,b2e35064f3549d447edbbdfb1f707c8c,3427,"10024,10077,10075,10063,10031,10102,10006,1304...",windows,chrome
1,3,14,29167d4caa719788b5a342dbaa25151d53121f80,11279eb1f8f7a88f877db911673522b6ff202aa7,android_safari,124.126.227.*,1,1,null,d63d96468f66986d5a8eb5225ad0b6f0,...,50,FirstView,Na,5,11908,null,2997,null,android,safari
2,5,19,ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e,4771a819a3f5b86776d8a9456f4f2506578f78d8,windows_ie,116.116.104.*,27,34,1,trqRTJkrBoq7JsNr5SqfNX,...,280,2,1,0,77819d3e0b3467fe5c7b16d68ad923a1,bebefa5efe83beee17a3d245e7c5085b,1458,"13866,10006,10024,10059,10048,10063,10067,1008...",windows,ie
3,0,21,844c2da00d45315f20b748ec131c26ee99a7cbc7,5360671379f3204afa9cc0edd8fd2e2096cb09eb,windows_ie,115.46.145.*,238,245,4,6d27caf5a202ec085f80af7163ef7cb0,...,90,FirstView,Na,30,10717,null,2821,"10075,13042,10006,10110,13776,10031,10063",windows,ie
4,2,20,c6017f0ad0c44d7d0c9b62583ea863f28941c0ca,d791b5f6306b9d299f81daa5448ced7e5bfa010f,windows_ie,221.199.203.*,27,35,3,3FKElpuEMusyJqKbuKz,...,250,0,0,50,44966cc8da1ed40c95d59e863c8c75f0,43f4a37f42a7c5e6219e2601b26c6976,3386,10063,windows,ie

In [23]:
for i in columnsForDummies:
    print("completing: " + i)
    dummies = pd.get_dummies(test_data[i], prefix=i)
    joined = pd.concat([test_data, dummies], axis=1)
    test_data = joined.drop(i, axis=1)

completing: weekday
completing: hour
completing: city
completing: region
completing: slotwidth
completing: slotheight
completing: advertiser
completing: creative
completing: slotprice
completing: adexchange
completing: slotformat
completing: slotvisibility
completing: os
completing: browser

In [24]:
test_data.head()

,bidid,userid,useragent,IP,domain,url,urlid,slotid,keypage,usertag,...,os_windows,browser_chrome,browser_firefox,browser_ie,browser_maxthon,browser_opera,browser_other,browser_safari,browser_sogou,browser_theworld
0,366c563de7d90feb9d4dab53e795a93fb3157387,75045dd2f2136c93fe55fe6c446ec1527ed8f0bb,windows_chrome,27.197.36.*,DDTSQuf0MTTNaqKIvMpENpn,304ad7dde708d3c5d96a2d1da9df4a0,null,Astro_F_Rectangle,b2e35064f3549d447edbbdfb1f707c8c,"10024,10077,10075,10063,10031,10102,10006,1304...",...,1,1,0,0,0,0,0,0,0,0
1,29167d4caa719788b5a342dbaa25151d53121f80,11279eb1f8f7a88f877db911673522b6ff202aa7,android_safari,124.126.227.*,d63d96468f66986d5a8eb5225ad0b6f0,89d349adb4281177074e20b98bc8ab53,null,2745306850,null,null,...,0,0,0,0,0,0,0,1,0,0
2,ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e,4771a819a3f5b86776d8a9456f4f2506578f78d8,windows_ie,116.116.104.*,trqRTJkrBoq7JsNr5SqfNX,73d2422dcb98bc75ffa4bf00a52f5d1a,null,mm_34022157_3445226_11175100,bebefa5efe83beee17a3d245e7c5085b,"13866,10006,10024,10059,10048,10063,10067,1008...",...,1,0,0,1,0,0,0,0,0,0
3,844c2da00d45315f20b748ec131c26ee99a7cbc7,5360671379f3204afa9cc0edd8fd2e2096cb09eb,windows_ie,115.46.145.*,6d27caf5a202ec085f80af7163ef7cb0,3fb2288f3baaca1f8b40a84986e058c1,null,210842,null,"10075,13042,10006,10110,13776,10031,10063",...,1,0,0,1,0,0,0,0,0,0
4,c6017f0ad0c44d7d0c9b62583ea863f28941c0ca,d791b5f6306b9d299f81daa5448ced7e5bfa010f,windows_ie,221.199.203.*,3FKElpuEMusyJqKbuKz,397f6f1aebf28e346e9f102cab42cafd,null,Fashion_F_Rectangle,43f4a37f42a7c5e6219e2601b26c6976,10063,...,1,0,0,1,0,0,0,0,0,0

In [25]:
test_data['usertag'].fillna(value="null", inplace=True)
usertags = test_data.usertag.str.split(',').tolist()
usertagDf = pd.DataFrame(usertags)
usetags = 0
usertagDummies = pd.get_dummies(usertagDf, prefix='usertag')
usertagDf = 0
usertagDummies = usertagDummies.groupby(usertagDummies.columns, axis=1).sum()
test_data = pd.concat([test_data, usertagDummies], axis=1)
test_data = test_data.drop('usertag', axis=1)

In [26]:
len(test_data.columns)

980

In [27]:
len(fullData.columns)

996

In [29]:
fullData.columns

Index(['click', 'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3',
       'weekday_4', 'weekday_5', 'weekday_6', 'hour_0', 'hour_1',
       ...
       'usertag_13874', 'usertag_14273', 'usertag_15398', 'usertag_16593',
       'usertag_16617', 'usertag_16661', 'usertag_16706', 'usertag_16751',
       'usertag_16753', 'usertag_null'],
      dtype='object', length=996)

In [31]:
test_data.columns

Index(['bidid', 'userid', 'useragent', 'IP', 'domain', 'url', 'urlid',
       'slotid', 'keypage', 'weekday_0',
       ...
       'usertag_13874', 'usertag_14273', 'usertag_15398', 'usertag_16593',
       'usertag_16617', 'usertag_16661', 'usertag_16706', 'usertag_16751',
       'usertag_16753', 'usertag_null'],
      dtype='object', length=980)